{% extends 'usernavbar.html' %}
{% block main %}

<div class="pagetitle">
    <h1>Add Bills</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Add Bills</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">

        <div class="col-xl-12">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                Add Bills
                            </button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">ReceivedOn</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="ReceivedOn" type="date" class="form-control" required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">PONo</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="PONo" type="text" class="form-control" placeholder=" " required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">NameofSupplier</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="NameofSupplier" type="text" class="form-control" placeholder=" "
                                            required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">BillNo</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="BillNo" type="text" class="form-control" placeholder=" " required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">BillDate</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="BillDate" type="date" class="form-control" required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Species</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Species" type="text" class="form-control" placeholder=" " required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">QtyinMT</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="QtyinMT" type="text" class="form-control" placeholder=" " required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">BillValue</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="BillValue" type="text" class="form-control" placeholder=" "
                                            required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">MIRONo</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="MIRONo" type="text" class="form-control" placeholder=" " required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">GivenPaymentDate</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="GivenPaymentDate" type="date" class="form-control" required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">ActualPaymentDate</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="ActualPaymentDate" type="date" class="form-control" required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Accept/Reject</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="AcceptReject" type="text" class="form-control" placeholder=" " required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Remark</label>
                                    <div class="col-md-8 col-lg-9">
                                        <textarea name="Remark" class="form-control" style="height: 100px"
                                            placeholder=" " required></textarea>
                                    </div>
                                </div>


                                <!--
                                    <li class="row mb-3 dropdown text-center">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Action
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">Accepted</a></li>
                                      <li><a class="dropdown-item" href="#">Pending</a></li>
                                    </ul>
                                  </li>
                                  
                                  <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Title</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Title" type="text" class="form-control" placeholder="Enter Title" required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Notes Description</label>
                                    <div class="col-md-8 col-lg-9">
                                        <textarea name="Content" class="form-control" style="height: 100px" placeholder="Notes Description" required></textarea>
                                    </div>
                                </div>-->

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if error == "no" %}
<script>
    alert('New Bills Added Successfully.');
    window.location = ('{% url 'addNotes' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong, Try Again');
</script>
{% endif %}

{% endblock %}