{% extends 'usernavbar.html' %}
{% block main %}

<div class="pagetitle">
    <h1>Update Bills</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Update Bills</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">

        <div class="col-xl-12">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                Edit Bills
                            </button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">ReceivedOn</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="ReceivedOn" type="date" class="form-control" value="{{notes.ReceivedOn|date:"Y-m-d"}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">PONo</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="PONo" type="text" class="form-control" value="{{notes.PONo}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">NameofSupplier</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="NameofSupplier" type="text" class="form-control" value="{{notes.NameofSupplier}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">BillNo</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="BillNo" type="text" class="form-control" value="{{notes.BillNo}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">BillDate</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="BillDate" type="date" class="form-control" value="{{ notes.BillDate|date:"Y-m-d" }}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Species</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Species" type="text" class="form-control" value="{{notes.Species}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">QtyinMT</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="QtyinMT" type="text" class="form-control" value="{{notes.QtyinMT}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">BillValue</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="BillValue" type="text" class="form-control" value="{{notes.BillValue}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">MIRONo</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="MIRONo" type="text" class="form-control" value="{{notes.MIRONo}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">GivenPaymentDate</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="GivenPaymentDate" type="date" class="form-control" value="{{notes.GivenPaymentDate|date:"Y-m-d"}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">ActualPaymentDate</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="ActualPaymentDate" type="date" class="form-control" value="{{notes.ActualPaymentDate|date:"Y-m-d"}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Accept/Reject</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="AcceptReject" type="text" class="form-control" value="{{notes.AcceptReject}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Remark</label>
                                    <div class="col-md-8 col-lg-9">
                                        <textarea name="Remark" class="form-control" style="height: 100px" required>{{notes.Remark}}</textarea>
                                    </div>
                                </div>


                                <!--<div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Title</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Title" type="text" class="form-control" value="{{notes.Title}}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">Notes Description</label>
                                    <div class="col-md-8 col-lg-9">
                                        <textarea name="Content" class="form-control" style="height: 100px" required>{{notes.Content}}</textarea>
                                    </div>
                                </div>-->

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<script>
    (function getDate() {
        var date = new Date().toISOString().substring(0, 10),
            field = document.querySelector('#date');
        field.value = date;
        console.log(field.value);
    
    })()

</script>-->
{% if error == "no" %}
<script>
	   alert('Bills has been Updated.');
       window.location=('{% url 'viewNotes' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
	    alert('Something went Wrong!!Please Fill all the Fields and Try Again');
</script>
{% endif %}

{% endblock %}